RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php

RewriteCond $1 !^(media|helpers|fonts|dist|controller|172.06.84.0|connection|robots\.txt)

RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 https://puubu.blockchainsummit.africa/404.html